*{
    margin: 0;
    padding: 0s;
}

html{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle 100%, white 0%, black 100%);
    overflow-x: hideden;
    overflow-y: hidden;
}

body{
    text-align: center;
    display: table;
    background: black;
}

.canvas{
    display: block;
}


#New{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    z-index: 1;
    box-sizing: border-box;
    vertical-align: middle;
}

*{
    margin: 0;
    padding: 0;
}

body {background: black;}
canvas {display:block;}

